Source: fluent-plugin-grepcounter
Section: admin
Priority: extra
Maintainer: Denis Klimov <zver@altlinux.org>
Build-Depends: debhelper (>= 8), ruby-bundler (>= 1.3.5), ruby1.9.1, ruby1.9.1-dev
Standards-Version: 3.9.3
Homepage: https://github.com/sonots/fluent-plugin-grepcounter/

Package: fluent-plugin-grepcounter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fluentd
Description: Fluentd plugin to count the number of matched messages,
 and emit if exeeds the threshold
